extends layout

block content
  #wrapper
    h1 Play list
    audio(autoplay='autoplay',controls='controls')#song_player
      source(src='https://github.com/BogotaJS/bday2012/raw/master/songs/Antony_Raijekov_-_04_-_Drop_of_whisper_2005.mp3', type="audio/mpeg")

    ul#list
      each item, i in songs
        li(id='#{item[0]}', data-item='#{item[2]}').vote #{item[1]} 
          p Votes
            span